In [ ]:
#import configparser 
#config = configparser.RawConfigParser()

In [ ]:
import tweepy
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream
import time
import pandas as pd

In [ ]:
consumer_key = ""
consumer_secret = ""
access_token = ""
access_token_secret = ""
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [ ]:
text_query = 'iphone 14'
count = 10000
try:
 tweets = tweepy.Cursor(api.search,q=text_query, lang='en').items(count)
 tweets_list = [[tweet.text,tweet.user.screen_name,tweet.user.location, tweet.source, tweet.created_at] for tweet in tweets]
 tweets_df = pd.DataFrame(tweets_list)
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [ ]:
for tweet in tweets:
  print(tweet._json.keys())

In [ ]:
tweets_df

,0,1,2,3,4
0,@MsterMiles @BOHHDDHEEE YOU ARE Fk man na yo...,ElishaFreedom,,Twitter for Android,2022-12-04 22:20:51
1,https://t.co/crU8Qh3lDZ Get a Brand New iPhone...,promo_survey,"England, United Kingdom",Twitter Web App,2022-12-04 22:20:25
2,Man Rescued in Alaska After Activating iPhone ...,LifeboatHQ,Safeguarding Humanity!,lifeboat.com,2022-12-04 22:20:11
3,iPhone 14 Plus Sees Lackluster Demand; Display...,India24hoursliv,,Twitter Web App,2022-12-04 22:20:02
4,RT @sondesix: Which one is the more worthy Pho...,JerThaPlug,"Matola, Mz",Twitter for iPhone,2022-12-04 22:19:52
...,...,...,...,...,...
9995,RT @Shehusky: Comparing Yusuf Datti Baba Ahmed...,fleaptng,,Twitter for Android,2022-12-02 11:49:30
9996,RT @mvouchercodes1: Win A iPhone 14 Pro Max #G...,ElizabethTurvey,Bristol,Twitter for Android,2022-12-02 11:49:22
9997,RT @theapplehub: The Emergency SOS via Satelli...,Lorisbihouee,Paris | Ajaccio,Tweetbot for iÎŸS,2022-12-02 11:49:15
9998,Cleaner wey Dey use IPhone 14ðŸ˜­ https://t.co/gU...,Ugochuks_D,lagos state,Twitter for iPhone,2022-12-02 11:49:02
9999,RT @DukeEbbz: Register today and enjoy big odd...,_BlackCouples,Uganda,Twitter Web App,2022-12-02 11:48:51

In [ ]:
tweets_df.loc[0][2]

''

In [ ]:
count = 0
indexs = []
for i in range(0, len(tweets_df)):
  if("win" in tweets_df.loc[i][2].lower()):
    indexs.append(i)
    count += 1

In [ ]:
backup = tweets_df.copy()

In [ ]:
refined_tweets_df = tweets_df.drop(tweets_df.index[indexs])

In [ ]:
refined_tweets_df

,0,1,2,3,4
0,@MsterMiles @BOHHDDHEEE YOU ARE Fk man na yo...,ElishaFreedom,,Twitter for Android,2022-12-04 22:20:51
1,https://t.co/crU8Qh3lDZ Get a Brand New iPhone...,promo_survey,"England, United Kingdom",Twitter Web App,2022-12-04 22:20:25
2,Man Rescued in Alaska After Activating iPhone ...,LifeboatHQ,Safeguarding Humanity!,lifeboat.com,2022-12-04 22:20:11
3,iPhone 14 Plus Sees Lackluster Demand; Display...,India24hoursliv,,Twitter Web App,2022-12-04 22:20:02
4,RT @sondesix: Which one is the more worthy Pho...,JerThaPlug,"Matola, Mz",Twitter for iPhone,2022-12-04 22:19:52
...,...,...,...,...,...
9995,RT @Shehusky: Comparing Yusuf Datti Baba Ahmed...,fleaptng,,Twitter for Android,2022-12-02 11:49:30
9996,RT @mvouchercodes1: Win A iPhone 14 Pro Max #G...,ElizabethTurvey,Bristol,Twitter for Android,2022-12-02 11:49:22
9997,RT @theapplehub: The Emergency SOS via Satelli...,Lorisbihouee,Paris | Ajaccio,Tweetbot for iÎŸS,2022-12-02 11:49:15
9998,Cleaner wey Dey use IPhone 14ðŸ˜­ https://t.co/gU...,Ugochuks_D,lagos state,Twitter for iPhone,2022-12-02 11:49:02
9999,RT @DukeEbbz: Register today and enjoy big odd...,_BlackCouples,Uganda,Twitter Web App,2022-12-02 11:48:51

In [ ]:
refined_tweets_df.reset_index(drop=True, inplace=True)

In [ ]:
tweets_df.to_csv("Iphone_14_tweets.csv")

---
Expert reviewer datasets

---
Terminated this part, since there were less than 10 tweets from thw biggest phone reviewers - This can be mainly because they post the videos and short vlogs to express there opinion related to the phone and it's features.

In [ ]:
'''text_query = 'iphone 14'
count = 50
try:
 # Creation of query method using parameters
 tweets = api.user_timeline(q=text_query, screen_name='mkbhd', count=50)
 #tweets = tweepy.Cursor(api.search,q=text_query, since='2022-02-01', lang='en', screen_name='mkbhd', retweeted='False').items(count)
 for tweet in tweets:
   print(tweet._json.keys())
   print(tweet._json['user']['screen_name'])
   break

 # Pulling information from tweets iterable object
 tweets_list = [[tweet.geo,tweet.text,tweet.user.screen_name,tweet.user.location, tweet.source]for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list)
 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)'''

In [ ]:
'''for tweet in tweets:
   print(tweet._json.keys)
   break'''

In [ ]:
'''for tweet in tweets_df[1]:
  if("iphone 14".lower() in tweet.lower()):
    print(tweet)'''

In [ ]:
'''!pip install snscrape'''

In [ ]:
'''import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
attributes_container = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('"iphone" (from:mkbhd) lang:en until:2022-08-13 since:2022-02-01').get_items()):
    if i>1500:
        break
    attributes_container.append([tweet.user.username, tweet.date, tweet.likeCount, tweet.sourceLabel, tweet.content])
    
# Creating a dataframe to load the list
tweets_df = pd.DataFrame(attributes_container, columns=["User", "Date Created", "Number of Likes", "Source of Tweet", "Tweet"])'''